.card-dashboard {
  background-color: var(--main-color);
  width: 50%;
  margin-left: 10px;
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.text-card {
  font-size: 25px;
}

.btn-add-carros {
  /* background-color: var(--contrast-color); */
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  background-color: #d207ff;
  transition: background-color 0.3s ease-in-out;
  margin: 5px;
}

.form-carro > .row {
  padding-top: 9px;
  margin-bottom: 5px;
}

.btn-principal {
  color: white;
  border: none;
  background-color: var(--dark-color);
  padding: 5px;
  font-size: 30px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn-add-carros:hover,
.btn-principal:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
}

.btn-add-carros:hover {
  background-color: #dc75f3;
}

#att_cliente {
  display: none;
}
